{% extends 'blog/base.html' %}

{% block content %}
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">About</h1>
		<hr>
		<p class="lead text-muted">My name is Yaeesh Naseem, but I'm mostly known as Yoi. I'm a second year Artificial Intelligence/Computer Science student in the University of Birmingham. My interest in computers was always present throughout my childhood, from making simple sprite-based games via Scratch in primary school to building my own gaming PC at 16.</p>
		<p class="lead text-muted">Artistically, I consider myself a talented individual. I started Graphics Art Design as a hobby when I was 13, mostly on internet forums - participating in various online tournaments. I then moved onto digital art for a short period of time before picking up the guitar in 2016. Since then I have performed in various gigs in my hometown of Male' City - the capital of the Maldives. I consider myself extremely versatile when it comes to genres, having started off with playing pop music and gradually moved on to blues, classic rock, classic and modern metal and most recently hip-hop/rap.</p> 
		<p class="lead text-muted"></p> 
	</div>
</section>
{% endblock %}
