{% extends 'blog/blogbase.html' %}

{% block content %}
	{% for post in postlist %}
		<article class="article-main">
			<h3> {{ post.title }} </h3>
			<hr style="background-color: #cbcfd6">
			<div class="article-author-name">By {{ post.author }}</div> 
			<div class="article-text"> {{ post.text|safe|linebreaks }} </div>
			<div class="article-date-edited">{{ post.created_date }}</div>
			<p class="article-date-edited"> Date published: {{ post.published_date }} </p>
		</article>
	{% endfor %}
{% endblock %}
